[train] #train parameters
epoch = 60
batch_size = 64

reader_num = 4

optimizer = adam
learning_rate = 1e-4
weight_decay = 1e-6
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 32

reader_num = 2

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = AttenRNN
train_data_path = ../../examples/task1
train_file_list = embedding_sample.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = AttenRNN
valid_data_path = ../../examples/task1
valid_file_list = embedding_sample.json

test_dataset_type = JsonFromFiles
test_formatter_type = AttenRNN
test_data_path = ../../examples/task1
test_file_list = embedding_sample.json

load_into_mem = True

recursive = False
json_format = line

max_seq_length = 512

[model] #model parameters
model_name = AttenRNN
max_para_q = 54

rnn = lstm
hidden_dim = 256
output_dim = 2
bidirectional = False
num_layers = 1
dropout_rnn = 0
dropout_fc = 0
output_mode = classification
label_weight = 1.0

[output] #output parameters
output_time = 1
test_time = 1
save_step = -1
save_as_dict = False
model_path = output/model
model_name = attenlstm

tensorboard_path = output/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
